* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.bg {
  background: url("https://img.freepik.com/free-photo/beauty-portrait-afro-woman-with-ethnic-makeup_23-2148956535.jpg?w=996&t=st=1694277147~exp=1694277747~hmac=ae5bcaa84d2654c4c9219b5e6db010bff593ebb4e88eaf5871cda51b7b3851a4")
    no-repeat center center/cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
